{
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@root": "./src/",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
